<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>news</title>
	<link rel="stylesheet" type="text/css" href="assets/css/cards.css">

</head>
<body class="news">
	<div class="content">
		<div class="splash">
			<div class="content">
				<img src="assets/images/icons/mainlogo_v.png"/>
				<span>Fetching Latest News</span>
			</div>
		</div>

		<ul class="listContainer card on newsList"></ul>
		<div class="native-row">
			<ul><li class="tap noselect getCategories"><span></span></span></li><li class="tap noselect getFullStory"><span></span></li><li class="tap noselect getLanguages"><span class="icon-lang"></span></li></ul>
			<div class="keyboardContainers">
				<div class="catContainer">
					<ul class="listContainer catlist card">
						<li class="tap topStories" data-cat="topStories"><span class="category topStories">Top Stories</span></li>
						<li class="tap india" data-cat="india"><span class="category india">India</span></li>
						<li class="tap world" data-cat="world"><span class="category world">World</span></li>
						<li class="tap sports" data-cat="sports"><span class="category sports">Sports</span></li>				
						<li class="tap business" data-cat="business"><span class="category business">Business</span></li>
						<li class="tap tech" data-cat="tech"><span class="category tech">Technology</span></li>
						<li class="tap lifestyle" data-cat="lifestyle"><span class="category lifestyle">Lifestyle</span></li>
						<li class="tap entertainment" data-cat="entertainment"><span class="category entertainment">Entertainment</span></li>
					</ul>
				</div>
				<div class="langContainer">
					<ul class="listContainer catlist card">
						<li class="tap topStories" data-cat="english"><span class="category topStories">English</span></li>
						<li class="tap india" data-cat="hindi"><span class="category india">Hindi</span></li>
						<li class="tap world" data-cat="tamil"><span class="category world">Tamil</span></li>
						<li class="tap sports" data-cat="telugu"><span class="category sports">Telugu</span></li>				
						<li class="tap business" data-cat="malayalam"><span class="category business">Malayalam</span></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="categorySplash away hide"></div>
		<div class="categorySplash blockSplash away hide"></div>
		<div class="newsSplash away hide"></div>
		<div class="languageIntroSplash hide">
			<div class="wrapper">
				<figure><img src="assets/images/icons/ico-lang-white.png" width="80"/></figure>
				<h3>Introducing Languages</h3>
				<p>You can change language from the language tab anytime.</p>
				<button class="btn cta btn-ok tapable">Ok</button>
			</div>
			<div class="mocknativebutton"></div>
		</div>
		<div class="languageIntro away">
			<div class="runoff"></div>
			<div class="languageIntroWrapper">
			  	<div class="introhead">
					<div class="introheadwrap">
				  		<figure>
			    			<img src="assets/images/icons/ico-news.png" width="40">  
			  			</figure>
			  			<figcaption class="hindi">न्यूज़ अब हिन्दी में।</figcaption>
			  			<figcaption>News, now in Hindi</figcaption>
			  		</div>
			      
			  	</div>
			  	<div class="introbody">
			  		<div class="sampletext"><span>क्या आप हिन्दी में लिखे शब्द पढ़ सकते हैं?</span></div>
			  		<div class="confirmation">
			  			<div class="confirmwrap">
			  				<div class="confirm_text hindi">क्या आप यह पढ़ सकते हैं?</div>
			  				<div class="confirm_text">Can you read the text above?</div>
			  			</div>
			  		</div>
			  		<div class="bottombar">
			    		<button class="bottombtn btn-yes tapable">हाँ (Yes)</button><button class="bottombtn tapable btn-no">नही (No)</button>
			  		</div>
				</div>
			</div>
		</div>
		
		<!-- <iframe id="sourceFrame" name="sourceFrame" src=""></iframe> -->
		<div class="toast">Click to fetch new content</div>
	</div>

	<script id="listMock" type="text/tmpl">
		<li class="listItem active" style="z-index: 999;">    
			<figure class="matrix" style="background: #2F3037 url('assets/images/icons/<% if (typeof icon != "undefined"){%><%=icon%><%}else{%>mainlogo<%}%>.png') no-repeat center center">
			        <div class="cardHeader">            
			        	<div class="sourceSpan"></div>            
			        	<div class="agoSpan"></div>           
			        </div>    
			</figure>             
			<div class="storyContainer">         
				<span class="categorySpan"></span> 
				<div class="titleSpan"></div>
				<div class="titleSpan"></div>         
				<div class="storySpan">
				  <span class="storyline"></span>
				  <span class="storyline"></span>
				  <span class="storyline"></span>
				</div>
			</div>        
		</li>
	</script>

	<script id="categoryTemplate" type="text/tmpl">
		<% if (type === "splash"){ %>
		<%} else {%>
			<li class="categorySplash topStories <%if (typeof classname != 'undefined'){%><%=classname%><%}%> <%if (typeof active != 'undefined' && active === true){%> active<%}%><%if (typeof away != 'undefined' && away === true){%> away<%}%>" data-swipeable="<%if(typeof unswipe != 'undefined'){%><%=unswipe%><%}else{%>true<%}%>" data-idx="<%= idx + (1) %>">
		<%}%>
			<div class="wrap">
				<figure class="icon">
					<img src="assets/images/icons/<%= icon %>.png" width="72" />
					<figcaption><% if (typeof heading != "undefined"){ %> <%= heading %> <%}%></figcaption>
					<% if (typeof text_primary != "undefined"){ %><span class="text_primary"><%= text_primary %></span><%}%>
					<% if (typeof text_secondary != "undefined"){ %><span class="text"><%= text_secondary %></span><%}%>
				</figure>
				<% if (typeof btn_primary != "undefined"){ %><button <% if (typeof event_primary != "undefined"){%>onClick="javascript: platformSdk.events.publish('<%=event_primary%>', this)" <%}%> class="btn cta primary tapable"><%= btn_primary %></button><% } %>
				<% if (typeof btn_secondary != "undefined"){ %><button <% if (typeof event_secondary != "undefined"){%>onClick="javascript: platformSdk.events.publish('<%=event_secondary%>', this)" <%}%> class="btn cta secondary"><%= btn_secondary %></button><% } %>
			</div>
			<% var icon_swipe = typeof swipeicon != "undefined" ? swipeicon : "swipe"; %>
			<% if (typeof unswipe != "undefined" && unswipe === false){ %>
				<span class="swipe_message"></span>
			<% } else { %>
				<ul class="upIcon">
					<li class="ico_1"><img src="assets/images/icons/<%=icon_swipe%>.png"/></li>
					<li class="ico_2"><img src="assets/images/icons/<%=icon_swipe%>.png"/></li>
					<li class="ico_3"><img src="assets/images/icons/<%=icon_swipe%>.png"/></li>
				</ul>
				<span class="swipe_message">Swipe up to continue</span>
			<% } %>
		
		<% if (type === "splash"){ %>
		<%} else {%>
			</li>
		<%}%>
	</script>	
	<script id="listTemplate" type="text/tmpl">
		<% var counter = 100 - idx; %>
		<li id="item<%if (typeof id != 'undefined'){%><%=id%><%}%>" class="listItem<%if (typeof active != 'undefined' && active === true){%> active<%}%><%if (typeof away != 'undefined' && away === true){%> away<%}%> <%if(typeof topicname != "undefined" && topicname != null){%><%=topicname%><% }else{%>topStories<%}%> <%if (typeof killAnim != 'undefined' && killAnim === true){%>killAnim<%}%>" style="z-index: <%= (1000 - idx) %>;" data-swipeable="true" data-idx="<%= idx + (1) %>">
			<figure class="matrix" style="background: #2F3037 url('assets/images/icons/<%if(typeof engtopicname != "undefined" && engtopicname != null){%><%=engtopicname%><% }else{%>topStories<%}%>.png') no-repeat center center">
				<% if (newsapp.app.hd.imageMode === false || newsapp.killImages){ %><% } else { %>
					<div class="imgContainer" style="<%if (typeof imageurl != 'undefined'){%> background:url(<%= imageurl %>) no-repeat center center;<%}%>"></div>
				<%}%>

				<div class="cardHeader">
	        		<div class="source"><% if (typeof source != 'undefined'){ %> <%= source %> <% } %></div>
	        		<div class="ago"><% if (typeof ts != 'undefined'){ %> <%= ts %> <% } %></div>
	        	</div>

	        	<span class="action-icons"><ul>
					<li class="icon-share" style="background:url(assets/images/icons/whiteshare.png) no-repeat center center "></li>
					<li class="icon-fwd" style="background:url(assets/images/icons/whiteforward.png) no-repeat center center "></li>
				</ul></span>
			</figure>
				
	     	<div class="storyContainer">
	     		<span class="category blue"><% if (typeof topicname != "undefined" && topicname != null){ %> <%= topicname %> <% } else { %><%= "Top Stories" %><% } %></span>
		     	<div class="title"><% if (typeof title != "undefined") { %> <%= title %> <% } %></div>
		     	<div class="storyWrapper"><div class="story ellipsis"><div><p><% if (typeof snippet != "undefined") { %> <%= snippet %> <% } %></p></div></div></div>
	     	</div>
	     	<a href="<%if(typeof url != 'undefined'){%><%=url%><%}%>" class="cta hide"><i class="icon-chevron-sign-right"></i><span>Tap the story to read more</span></a>
		</li>	
	</script>

	<script id="listTemplateDebug" type="text/tmpl">
		<% var counter = 100 - idx; %>
		<li id="item<%if (typeof id != 'undefined'){%><%=id%><%}%>" class="listItem<%if (typeof active != 'undefined' && active === true){%> active<%}%><%if (typeof away != 'undefined' && away === true){%> away<%}%> <%if(typeof topicname != "undefined" && topicname != null){%><%=topicname%><% }else{%>topStories<%}%> <%if (typeof killAnim != 'undefined' && killAnim === true){%>killAnim<%}%>" style="z-index: <%= (1000 - idx) %>;" data-swipeable="true" data-idx="<%= idx + (1) %>">
			<figure class="matrix" style="background: #2F3037 url('assets/images/icons/<%if(typeof engtopicname != "undefined" && engtopicname != null){%><%=engtopicname%><% }else{%>topStories<%}%>.png') no-repeat center center">
				<% if (newsapp.app.hd.imageMode === false || newsapp.killImages){ %><% } else { %>
					<div class="imgContainer"></div>
				<%}%>

				<div class="cardHeader">
	        		<div class="source"><% if (typeof source != 'undefined'){ %> <%= source %> <% } %></div>
	        		<div class="ago"><% if (typeof ts != 'undefined'){ %> <%= ts %> <% } %></div>
	        	</div>

	        	<span class="action-icons"><ul>
					<li class="icon-share" style="background:url(assets/images/icons/whiteshare.png) no-repeat center center "></li>
					<li class="icon-fwd" style="background:url(assets/images/icons/whiteforward.png) no-repeat center center "></li>
				</ul></span>
			</figure>
				
	     	<div class="storyContainer">
	     		<span class="category blue"><% if (typeof topicname != "undefined" && topicname != null){ %> <%= topicname %> <% } else { %><%= "Top Stories" %><% } %></span>
		     	<div class="title"><% if (typeof title != "undefined") { %> <%= title %> <% } %></div>
		     	<div class="storyWrapper"><div class="story ellipsis"><div><p><% if (typeof snippet != "undefined") { %> <%= snippet %> <% } %></p></div></div></div>
	     	</div>
	     	<a href="<%if(typeof url != 'undefined'){%><%=url%><%}%>" class="cta hide"><i class="icon-chevron-sign-right"></i><span>Tap the story to read more</span></a>
		</li>	
	</script>

	<script language="javascript" type="text/javascript" src="assets/js/bugsnag-2.min.js" data-apikey="388ff6319900ad29d27b1ec0c3d4c6da"></script>
	<script type="text/javascript">INLINE_SCRIPT_PSDK</script>
	<script type="text/javascript">INLINE_SCRIPT_APP</script>
	<script type="text/javascript">INLINE_SCRIPT_NEWSINIT</script>

</body>
</html>