<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>news</title>
	<link rel="stylesheet" type="text/css" href="{{#basePath}}{{basePath}}{{/basePath}}8/assets/css/cards.css">

</head>
<body class="newscard" data-platform-version="{{#platform_version}}{{platform_version}}{{/platform_version}}" data-app-type="M" data-message-id="{{#message_id}}{{message_id}}{{/message_id}}" data-cid="{{#id}}{{id}}{{/id}}">
	
	<div class="content" onclick="javascript: clickHandler(this);">
		<div class="card">
			{{#topicName}}<figure class="matrix" style="background: #222 url('{{basePath}}8/assets/images/icons/{{topicName}}.png') no-repeat center center">{{/topicName}}
			{{^topicName}}<figure class="matrix" style="background: #222 url('{{basePath}}8/assets/images/icons/topStories.png') no-repeat center center">{{/topicName}}
				<div class="imageContainer" style="background: url({{#imageurl}}{{imageurl}}{{/imageurl}}) no-repeat center center"/>
		     	<a href="{{url}}" class="cta hide"><span>Tap the story to read more</span></a>
			</figure>
			<div class="infobar">
				<div class="Header">
	        		<div class="source">{{#source}}{{source}}{{/source}}</div>
	        		<img class="news-icon" src="{{basePath}}8/assets/images/icons/mainlogo.png" height="18">
	        	</div>
	        	<div class="title">
	        		<span class="category">{{#topicname}}{{topicname}}{{/topicname}}</span>
					<h2>{{#title}}{{title}}{{/title}}</h2>
					<!-- <span class="fwd"></span>  -->
				</div>
			</div>
		</div>	
	</div>


	<script language="javascript" type="text/javascript" src="{{basePath}}8/assets/js/platformSdk.js"></script>

	<script type="text/javascript" type="text/javascript" src="{{basePath}}8/assets/js/news.js">
	
	</script>
</body>
</html>