* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important; }

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../font/opensans400.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url("../font/opensans600.woff") format('woff');
}

@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 src: url('file:///android_asset/fonts/Roboto-Regular.ttf')  format('truetype');
}

a {
  display: block;
  text-decoration: none; }

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  margin: 0px;
  padding: 0px; }

html { height: 100%; overflow: hidden; }
body.news { background-color: #fff; height: 100%; overflow: hidden; }
ul { margin: 0; padding: 0; }
figure { margin: 0; }

@-webkit-keyframes slow_scale {
  0% {-webkit-transform: scale(1); }
  50% {-webkit-transform: scale(1.04); }
  100% {-webkit-transform: scale(1); }
}
@-moz-keyframes slow_scale {
  0% {-moz-transform: scale(1); }
  30% {-moz-transform: scale(1); }
  40% {-moz-transform: scale(1.08); }
  50% {-moz-transform: scale(1.1); }
  60% {-moz-transform: scale(1.14); }
  70% {-moz-transform: scale(1.18); }
  80% {-moz-transform: scale(1.2); }
  100% {-moz-transform: scale(1.2); } 
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-animation-timing-function: linear; }
  50% {
    -webkit-transform: scale(0.98, 0.98);
    -webkit-animation-timing-function: linear; }
  100% {
    -webkit-transform: scale(0.95, 0.95);
    -webkit-animation-timing-function: linear; } }

@-webkit-keyframes flick {
  0% { -webkit-animation-timing-function: linear; -webkit-transform: rotate(0deg); }
  25% { -webkit-animation-timing-function: linear; -webkit-transform: rotate(10deg); }
  75% { -webkit-animation-timing-function: linear; -webkit-transform: rotate(-10deg); }
  100% { -webkit-animation-timing-function: linear; -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes wave {
  0% { -webkit-animation-timing-function: linear; opacity: .20; }
  100% { -webkit-animation-timing-function: linear; opacity: .60; }
}

@-webkit-keyframes bounce {
  0% { -webkit-transform: translate3d(0, 0%, 0); }
  10% { -webkit-transform: translate3d(0, -5%, 0); }
  25% { -webkit-transform: translate3d(0, 2%, 0); }
  35% { -webkit-transform: translate3d(0, -10%, 0); }
  50% { -webkit-transform: translate3d(0, 0%, 0); }
  70% { -webkit-transform: translate3d(0, -8%, 0); }
  85% { -webkit-transform: translate3d(0, 2%, 0); }
  100% { -webkit-transform: translate3d(0, 0%, 0); }
}

.hide { display: none !important; }

.row { border: none; }
.debug { display: none; }
/*.debug { display: block; width: 100%; position: absolute; bottom: 60px; height: 20px; color: #fff; left: 0; z-index: 2000; padding: 15px 20px; background-color: rgba(0,0,0,0.5); font-size: 12px; line-height: 2px; }*/
.card { border-radius: 2px; box-shadow: 0px 0px 1px 1px #ccc; box-shadow: none; -webkit-box-shadow: none; background-color: #fff; width: 100%; height: 100%; display: block; }
.card .cardIntro { padding: 0; position: relative; height: 360px; /*overflow: hidden;*/ }
.card .cardIntro figure img { height: 100%; border-radius: 2px 2px 0 0; }
.card .cardIntro figure { margin: 0; height: 100%; overflow: hidden; }
.card .cardHeader { position: absolute; bottom: 0px; padding: 10px 10px 10px 30px; width: 100%; z-index: 2;
    text-shadow: 1px 1px 1px #5f5f5f;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 1%, rgba(0,0,0,0) 29%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(0,0,0,0)), color-stop(29%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 1%,rgba(0,0,0,0) 29%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.card .cardHeader .title { color: #fff; white-space: normal; font-size: 30px; letter-spacing: -2px; font-weight: bold; z-index: 2; }

.content { margin-top: 0px; position: relative; height: 100%; transition: transform .2s ease-out; -webkit-transition: -webkit-transform .2s ease-out; transform: translate3d(0, 0px, 0); -webkit-transform: translate3d(0, 0px, 0); z-index: 2; }
.content.up { transition: transform .2s ease-out; -webkit-transition: -webkit-transform .2s ease-out; transform: translate3d(0, -210px, 0); -webkit-transform: translate3d(0, -210px, 0); }
.content.up .native-row.off { -webkit-transform: translate3d(0,0,0); }
.content.up .native-row.off .getFullStory, .content.up .native-row.off .icon-row { display: none; }
/*.content .newsList:before { content: ""; background: #000; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 100; -webkit-transition: opacity .2s linear; opacity: 0; }
.content.up .newsList:before { content: ""; background: #000; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 100; -webkit-transition: opacity .2s linear; opacity: 0.4; }*/

.content.menu { transform: translate3d(60%, 0, 0); -webkit-transform: translate3d(60%, 0, 0); transition: all .2s linear; -webkit-transition: all .2s linear; } 
.hamburger { display: none; color: #fff; text-align: center; font-size: 11px; font-weight: normal; line-height: 14px; padding: 8px; position: absolute; top: 0; width: 100%; z-index: 20; }
.hamburger i { font-size: 22px; margin-right: 0px; vertical-align: top; }

.hamburger .icon-reorder { display: block; position: absolute; top: 0px; left: 0px; padding: 10px 10px;  text-align: left; width: 80px; height: 60px;  }
.hamburger .icon-reorder span.category { font-size: 12px; text-transform: uppercase; font-weight: bold; line-height: 25px; vertical-align: top; padding: 0 10px 0 15px; }
.hamburger .icon-chevron-left { display: none; background: none repeat scroll 0 0 #ff4000; border: 1px solid rgba(255, 255, 255, 0.4); border-radius: 0 5px 5px 0; width: 60px; height: 40px; padding: 8px 10px; margin: -2px 0 0 -12px; }

.hamburger.backBtn { position: fixed; }
.hamburger.backBtn .icon-reorder { display: none; }
.hamburger.backBtn .icon-reorder span.category { font-size: 12px; text-transform: uppercase; font-weight: bold; line-height: 22px; vertical-align: top; padding: 0 10px; }
.hamburger.backBtn .icon-chevron-left { display: block; }

.closeContainer { background: none repeat scroll 0 0 #333; border-bottom: 3px solid #000; color: #fff; text-align: left; font-size: 11px; font-weight: normal; line-height: 14px; padding: 10px 4px 4px 20px; width: 100%; height: 45px; } 
.closeContainer i { font-size: 22px; margin-right: 0px; vertical-align: top; }

.keyboardContainers { position: relative; height: 210px; }
.keyboardContainers ul { list-style: none; background: #f6f6f6; height: 140px; }

.langContainer { width: 100%; bottom: 0px; padding: 18px 18px 48px; z-index: 1; background: #f6f6f6; position: absolute; top: 0; left: 0; }
.catContainer { width: 100%; bottom: 0px; padding: 18px 18px 48px; z-index: 1; background: #f6f6f6; position: absolute; top: 0; left: 0; overflow-y: scroll; }
.catContainer > span.date { background: #fff; width: 100%; height: 60px; display: block; font-family: 'Open Sans'; font-size: 12px; padding: 20px 10px; text-align: left; font-weight: normal; letter-spacing: -.4px; }

.shareicons { display: none; height: 40px; position: absolute; width: 100%; z-index: 40; color: #fff; bottom: 10px; text-align: right; padding-right: 10px; }
.shareicons > li { display: inline-block; padding: 10px; font-size: 20px; cursor: pointer; transition: all .2s linear; -webkit-transition: all .2s linear; position: relative; margin-left: 10px; }
.shareicons > li.tap { transform: scale(1.2); -webkit-transform: scale(1.2); }
.shareicons > li img { width: 20px !important; height: 20px !important; position: absolute; top: 3px; left: -2px;  }

/*.test { position: fixed; top: 0; left: 0; z-index: 1120; background: #000; width: 100%; height: 20px; display: block; }*/

.listContainer { transition: all .2s linear; -webkit-transition: all .2s linear; transform: translate3d(0, 0px, 0); -webkit-transform: translate3d(0, 0px, 0); height: 100%; }
.listContainer.newsList { box-shadow: -1px 0px 5px 1px rgba(0,0,0,.34); -webkit-box-shadow: -1px 0px 5px 1px rgba(0,0,0,.34); z-index: 11;  }

.listContainer li.red figure { border-bottom: 5px solid #ea074b }
.listContainer li.orange figure { border-bottom: 5px solid #ff4000 }
.listContainer li.blue figure { border-bottom: 5px solid #3089ff }
.listContainer li.cyan figure { border-bottom: 5px solid #1fd4f4 }
.listContainer li.purple figure { border-bottom: 5px solid #5e10e5 }
.listContainer li.green figure { border-bottom: 5px solid #319609 }
.listContainer li.yellow figure { border-bottom: 5px solid #F4C300 }
.listContainer li.parrot figure { border-bottom: 5px solid #BFD30D }

.listContainer.catlist li { background: transparent; height: auto; line-height: 1; font-size: 11px; font-family: 'Open Sans', sans-serif; text-transform: uppercase; border-width: 1px; border-style: solid; width: auto; float: left; margin: 0 9px 9px 0; padding: 12px; border-radius: 2px; }
.hindi .listContainer.catlist li { font-size: 14px }
.hindi .langContainer li { font-size: 11px !important; }
.listContainer.catlist li.tapped span { color: #fff !important; }
.listContainer.catlist li span { background: transparent; letter-spacing: 0.2px; font-weight: 600; white-space: nowrap; }

.listContainer.catlist li.active { height: 70px; /*border-top: 3px solid #fff; border-bottom: 3px solid #fff;*/ }
.listContainer.catlist li.active span { line-height: 66px; top: 1px; }

.listContainer.card > li.listItem .title { font-size: 12px; letter-spacing: 0px; font-weight: normal; line-height: 16px; }
.listContainer > li.listItem .source { color: #fff; font-size: 12px; margin: 10px 0 2px; opacity: 1; }
.listContainer > li.listItem .ago { color: #fff; font-size: 12px; font-family: 'Open Sans', sans-serif; margin: 0; }
.listContainer > li.listItem.tap:before { opacity: 0; transition: opacity .2s linear; -webkit-transition: opacity .2s linear; }

.listContainer.on { position: absolute; height: 100%; overflow: hidden; }
.listContainer.on > li.listItem { 
    background-color: #fff; height: 100%; overflow: hidden; display: block; width: 100%; position: absolute; top: 0; left: 0; 
    transition: transform .3s ease-out, opacity .3s ease-out .15s; -webkit-transition: -webkit-transform .3s ease-out, opacity .3s ease-out .15s; transform: translate3d(0px, 0%, 0px); -webkit-transform: translate3d(0px, 0%, 0px);
    -webkit-overflow-scrolling: touch; opacity: 1;
}
.listContainer.on > li.killAnim { -webkit-transition: all 0s linear !important; transition: all 0s linear !important; }
.listContainer.on > li.away { transform: translate3d(0, -110%, 0); -webkit-transform: translate3d(0, -110%, 0); opacity: 0; transition: transform .3s linear, opacity .16s linear .1s; -webkit-transition: -webkit-transform .32s linear, opacity .16s linear .05s; }
.listContainer.on > li.awayLeft { transform: translate3d(-110%, 0%, 0); -webkit-transform: translate3d(-110%, 0%, 0); opacity: 0; transition: transform .3s linear, opacity .16s linear .1s; -webkit-transition: -webkit-transform .32s linear, opacity .16s linear .05s; }
.listContainer.on > li.listItem figure { background: #222; height: 40%; z-index: 5; overflow: hidden; /*max-height: 260px;*/ transition: all .3s linear; -webkit-transition: all .3s linear; position: relative; }
.listContainer.on > li.listItem figure { /*border-bottom: 5px solid #ff4000;*/ position: relative; background-size: 72px !important; }
/*.listContainer.on > li.listItem figure:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.76); }*/

/*.listContainer.on > li.listItem figure img { width: 100%; position: absolute; top: 50%; margin-top: -25%; z-index: 1; }*/
.listContainer.on > li.listItem figure div.imgContainer { width: 100%; height: 100%; position: relative; z-index: 1; background-size: cover !important;  }
/*.listContainer.on > li.listItem figure img { width: auto; height: 100%; position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: auto; min-width: 50%; min-height: 50%; }*/
.listContainer.on > li.listItem figure .cardHeader { padding-bottom: 20px; }
.listContainer.on > li.listItem a.back:after { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75); border-radius: 50%; content: ""; height: 20px; position: absolute; right: -11px; top: 8px; width: 20px; z-index: 22; }
.listContainer.on > li.listItem a.back { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5); border: 1px solid #000; border-radius: 50%; color: #fff; font-size: 11px; height: 40px; left: 10px; opacity: 1; position: absolute; top: 10px; width: 40px; }
/*.listContainer.on > li .category { top: 35px; left: 55px; }*/

.listContainer.on > li.listItem .category { font-size: 12px; color: #a3a3a3; font-weight: normal; text-transform: uppercase; opacity: 1; font-family: 'Open Sans', sans-serif; padding-left: 10px; display: block; border-left: 2px solid #ff3200; height: 9px; line-height: 10px; margin: 0;  }
.hindi .listContainer.on > li.listItem .category { font-size: 15px; }
.listContainer.on > li.listItem .categoryT { font-size: 12px; color: #777; font-weight: normal; text-transform: uppercase; opacity: 1; font-family: 'Open Sans', sans-serif; padding-left: 10px; display: block; border-left: 3px solid #ff3200; margin: 5px 25px; height: 10px; line-height: 10px; }
.listContainer.on > li.listItem .title { font-size: 18px; font-weight: 400; letter-spacing: -.5px; font-family: 'Open Sans', sans-serif; line-height: 24px; padding: 16px 0px 12px; color: #444; }
.listContainer.on > li.listItem .source { margin: 5px 0 10px padding-left: 10px; }
.listContainer.on > li.listItem .shareicons { display: block; }

.listContainer.on > li.listItem .cta { color: #fff; height: 40px; padding: 8px 25px 20px; position: absolute; bottom: 5px; width: 100%; background: rgba(0,0,0,.75); font-weight: normal; font-family: 'Open Sans'; line-height: 20px; border-top: 1px solid rgba(0,0,0,0.4); border-bottom: 1px solid rgba(0,0,0,0.4); }
.listContainer.on > li.listItem .cta span { font-size: 11px; line-height: 20px; padding-left: 10px; vertical-align: top; }
.listContainer.on > li.listItem .storyContainer { height: auto; z-index: 4; max-height: 60%; overflow: hidden; background: #fff; height: 60%; padding: 33px 30px 30px; }
/*.listContainer.on > li.listItem .storyWrapper { height: 140px; }*/
.listContainer.on > li.listItem .story { height: 100%; display: block; font-family: 'Open Sans', arial, helvetica, sans-serif; font-size: 14px; line-height: 20px; padding: 0px; }
.hindi .listContainer.on > li.listItem .story { font-size: 16px; line-height: 22px; }
.listContainer.on > li.listItem .story p { color: #666; margin: 0; display: block; display: -webkit-box; -webkit-line-clamp: 8; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; }

.listContainer.on > li.video .cardHeader { position: static; background: none; padding: 20px 20px 0; }
.listContainer.on > li.video .cardHeader div { color: #000; }
.listContainer.on > li.video .shareicons { position: static; text-align: left; }
.listContainer.on > li.video .shareicons i { color: #000 }
.listContainer.on > li.video .story { padding: 0px 25px 15px; }

.listContainer.on > li span.action-icons { position: absolute; bottom: 10px; z-index: 1050; right: 10px; }
.listContainer.on > li span.action-icons li { width: 40px; height: 40px; display: inline-block; background-size: 22px !important; margin-right: 5px; }
.listContainer.on > li span.action-icons li.icon-share { background-size: 17px !important; }
.listContainer.on > li span.action-icons img { width: 20px !important; }

.listContainer.on > li .icon-play-circle { color: #fff; display: block; font-size: 80px; height: 100px; left: 50%; margin: -40px 0 0 -50px; position: absolute; text-align: center; top: 35%; width: 100px; }

#sourceFrame { border-top: 55px solid #fff; width: 100%; height: 100%; display: block; background: #fff; position: absolute; transform: translate3d(-100%, 0, 0); -webkit-transform: translate3d(-100%, 0, 0); top: 0; left: 0; /*transition: all .2s linear; -webkit-transition: all .2s linear; */}
#sourceFrame.open { transform: translate3d(0%, 0, 0); -webkit-transform: translate3d(0%, 0, 0); z-index: 1119; }

.native-row { background: #fff; height: 48px; width: 100%; position: absolute; bottom: 0; z-index: 1106; border-top: 1px solid rgba(0,0,0,0.17); transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transition: transform .2s linear; -webkit-transition: -webkit-transform .2s linear; bottom: 0; }
.native-row.off { -webkit-transform: translate3d(0,120%,0); -webkit-transition: -webkit-transform .1s linear; }
.native-row.open { transform: translate3d(0, 0px, 0); -webkit-transform: translate3d(0, 0px, 0); transition: transform .2s linear; -webkit-transition: -webkit-transform .2s linear; }
.native-row > ul { height: 48px; overflow: hidden; border-bottom: 1px solid #ccc; }
/*.native-row > ul:before { display: inline-block; content: ""; height: 100%; vertical-align: middle; }
.native-row > ul > li:before { content: ""; width: 33.3%; height: 12px; position: absolute; top: 0; left: 0; }
.native-row > ul > li:after { content: ""; width: 33.3%; height: 11px; position: absolute; bottom: 0; left: 0; }*/
.native-row > ul li { display: inline-block; /*border-right: 1px solid #eaeaea;*/ width: 33.3%; text-align: center; line-height: 44px; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: normal; height: 48px; overflow: hidden; letter-spacing: -0.5px; text-transform: capitalize; color: #4c4c4c; vertical-align: middle; position: relative; }
.hindi .native-row > ul li { font-size: 16px; }
.native-row > ul > li:before { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.native-row > ul > li > span { display: inline-block; height: 14px; vertical-align: middle; line-height: 12px; border-right: 1px solid #cacaca; width: 100%; }

.native-row > ul > li.getLanguages { background: url(../images/icons/ico-lang-black.png) no-repeat center center #fff; background-size: 20px; }
.native-row > ul > li.getLanguages.tapped { background: url(../images/icons/ico-lang-black.png) no-repeat center center rgba(0,0,0,0.1); background-size: 20px; }
.native-row > ul > li.getLanguages span { display: none; }

.native-row > ul li:last-of-type span { border-right: 0; }
.native-row > ul li.tapped { background: rgba(0,0,0,.1); }
/*.native-row > ul > li.tapped:before, .native-row > ul > li.tapped:after { background: rgba(0,0,0,.1) !important; }*/
.native-row > ul li.activated { background: #DE1146; color: #fff; }
.native-row ul li.icon-row > ul { height: 100%; width: 100%; float: left; list-style: none; }
.native-row ul li.icon-row li { padding: 0px; text-align: center; width: 100%; height: 100%; position: relative; background: transparent; }
.native-row ul li.icon-row li.icon-fwd { margin-top: -6px; }
.native-row ul li.icon-row li.icon-fwd img { display: block; margin: 5px auto; }

.toast { position: fixed; top: 60px; padding: 10px 20px; background: rgba(116, 59, 243, 0.9); z-index: 1105; border-radius: 50px; color: #fff; font-size: 12px; font-family: 'Open Sans', sans-serif; margin: 0 auto; width: 150px; left: 50%; margin-left: -75px; text-align: center; transition: opacity .3s linear; -webkit-transition: opacity .3s linear; opacity: 0; display: none; }

.splash { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: #fff; right: 0; bottom: 0; z-index: 1125; transition: transform .3s linear .5s; -webkit-transition: -webkit-transform .3s linear .5s; transform: translate3d(0, -200%, 0); -webkit-transform: translate3d(0, -200%, 0); }
.splash:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; }
.splash.active { display: block; transition: transform .3s linear; -webkit-transition: -webkit-transform .3s linear; transform: translate3d(0, 0%, 0); -webkit-transform: translate3d(0, 0%, 0); }
/*.splash .content { position: absolute; z-index: 26; width: 100%; text-align: center; height: 60px; line-height: 30px; top: 50%; margin-top: -15px; letter-spacing: -1.2px; font-size: 20px; opacity: 1; }*/
.splash .content { z-index: 26; width: 98%; text-align: center; height: 60px; line-height: 30px; letter-spacing: -1.2px; font-size: 20px; opacity: 1; display: inline-block; vertical-align: middle; margin-top: -40px; }
.splash .content img { height: 100%; -webkit-animation: flick 0.2s linear .2s infinite reverse; -webkit-animation-play-state: paused; }
.splash.active .content img { height: 100%; -webkit-animation: flick 0.2s linear 1s infinite reverse; -webkit-animation-play-state: running; }

.splash .content span { display: block; color: #6403C5; font-size: 14px; letter-spacing: 0px; font-family: "Open Sans", sans-serif; margin-top: 10px; opacity: 0.5; }

li.intro.active { position: relative !important; }
li.intro .banner { height: 150px; margin: -105px auto 0; position: absolute; text-align: center; top: 50%; width: 100%; }
li.intro h3 { font-size: 32px; font-weight: normal; letter-spacing: -2.2px; margin-bottom: 0; }
li.intro .banner .name { color: #ff4000; font-weight: bold; }
li.intro .banner > figure { height: 50px !important; border: none !important; }
li.intro .banner > figure img { -webkit-animation-play-state: paused; animation-play-state: paused; display: inline-block; height: auto !important; vertical-align: top; width: 40px !important; padding-top: 12px; }
li.intro .banner span.bytes { display: inline-block; font-size: 35px; font-weight: bold; letter-spacing: -2px; line-height: 62px; padding-left: 0; }
li.intro .banner > p { display: block; font-size: 14px; height: 40px; left: 0; letter-spacing: -0.5px; opacity: 0.5; text-align: center; width: 100%; }

li.intro .displayPic { width: 100px; height: 100px; border-radius: 50%; overflow: hidden; position: absolute; top: 10%; left: 50%; margin-left: -50px; border: 2px solid #CD6; }
li.intro .displayPic img { width: 100%; position: absolute; top: -7px; left: -6px; }

.newscard { width: 100%; height: 100%; font-family: 'Roboto', sans-serif; overflow: hidden; } 
.newscard .card { background: #fff; }
.newscard .card .title { padding: 24px 18px; height: auto; background: #fff; }
.newscard .card .title h2 { font-size: 16px; font-family: "Roboto", sans-serif; font-weight: normal; display: inline-block; padding: 0; margin: 0; color: #333; width: 100%; vertical-align: middle; }
.newscard .card .title .fwd { display: inline-block; border-left: 0px solid #ccc; height: 40px; width: 40px; text-align: right; background: url(../images/icons/blackforward.png) no-repeat center right; background-size: 20px 15px; vertical-align: middle; }
.newscard figure { width: 100%; height: 80%; position: relative; }
/*.newscard figure img { width: auto; height: 100%; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; min-width: 50%; min-height: 50%; }*/
.newscard figure .imageContainer { background-size: cover; width: 100%; height: 100%; }
.newscard figure:before { content: ""; position: absolute; width: 100%; /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.71)), color-stop(35%,rgba(87,87,87,0.64)), color-stop(100%,rgba(252,252,252,0)), color-stop(100%,rgba(255,255,255,0)));*/ height: 65px; }
.newscard .Header { color: #fff; font-family: 'Roboto', sans-serif; font-size: 12px; padding: 15px 20px; position: relative; }
.newscard .Header img.news-icon { position: absolute; right: 25px; bottom: 14px; }
.newscard .storyContainer { position: absolute; bottom: 0; color: #fff; padding: 10px 30px 30px; font-family: 'Roboto', sans-serif; }
.newscard .storyContainer .category { font-size: 12px; text-transform: uppercase; line-height: 30px; }
.newscard .storyContainer .title { font-size: 15px; margin-bottom: 10px; }
.newscard .storyContainer .story { font-size: 12px; line-height: 16px; }
.newscard .category { font-size: 12px; color: #a3a3a3; font-weight: normal; text-transform: uppercase; opacity: 1; font-family: 'Open Sans', sans-serif; padding-left: 10px; display: block; border-left: 3px solid #ff3200; height: 10px; line-height: 12px; margin-bottom: 10px; }

.newscard .infobar { position: absolute; bottom: 0px; display: block; background: transparent; width: 100%; }
.newscard .infobar .source { font-weight: 600; }
.newscard .infobar .ago { font-weight: 600; }
.newscard .card .title { padding: 24px 18px; height: auto; background: #fff; z-index: 2; display: block; }

.newsSplash { -webkit-transform: translate3d(0, 0%, 0); -webkit-transition: -webkit-transform .3s ease-out; }
.newsSplash.active { z-index: 1105 !important; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.newsSplash.away { -webkit-transform: translate3d(0, -120%, 0); -webkit-transition: -webkit-transform .3s ease-out; }
.newsSplash.awayLeft { transform: translate3d(-110%, 0%, 0); -webkit-transform: translate3d(-110%, 0%, 0); opacity: 0; transition: transform .3s linear, opacity .16s linear .1s; -webkit-transition: -webkit-transform .32s linear, opacity .16s linear .05s; }

.categorySplash { text-align: center; position: absolute; top: 0; left: 0; background: #fff; width: 100%; height: 100%; -webkit-transform: translate3d(0, 0%, 0); -webkit-transition: -webkit-transform .3s ease-out; /*transform: translate3d(0, -200%, 0); -webkit-transform: translate3d(0, -200%, 0); transition: transform .3s linear; -webkit-transition: -webkit-transform .3s linear;*/ }
.categorySplash.active { z-index: 1101 !important; }
.categorySplash.active.block { z-index: 1205 !important; }
.blockSplash.active { z-index: 1110 !important; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.categorySplash.away { -webkit-transform: translate3d(0, -120%, 0); -webkit-transition: -webkit-transform .3s ease-out; }
.categorySplash.awayLeft { -webkit-transform: translate3d(-120%, 0%, 0); -webkit-transition: -webkit-transform .3s ease-out; }
.categorySplash:before { display: inline-block; vertical-align: middle; content: ""; height: 100%; } 
.categorySplash .wrap { width: 90%; text-align: center; overflow: hidden; z-index: 1102; display: inline-block; vertical-align: middle; }
.categorySplash figure.icon { margin-bottom: 48px; color: #fff; }
.categorySplash figure.icon img { margin-bottom: 30px; }
.categorySplash figcaption { font-size: 24px; margin-bottom: 10px; font-family: "Open Sans", sans-serif; letter-spacing: -1px; opacity: 0.8; text-transform: uppercase; }
.categorySplash span { display: block; line-height: 20px; font-size: 12px; font-family: "Open Sans" , sans-serif; width: 100%; padding: 0 30px; margin-top: 4px; opacity: 0.8; }
.categorySplash span.text_primary { font-size: 14px; }
.categorySplash button.btn.cta { background: transparent; border: 1px solid #fff; border-radius: 4px; color: #fff; padding: 12px; display: block; margin: 5px auto; min-width: 46%; font-size: 12px; text-transform: uppercase; }
.categorySplash button.btn.cta.tapable.tapped { background: #fff; color: #000; }
.categorySplash button.btn.cta.secondary { background: transparent; color: #fff; border: 0px solid #fff; padding: 20px; }
.categorySplash span.swipe_message { color: #E3D8FD; position: absolute; bottom: 60px; width: 100%; text-align: center; font-size: 16px; opacity: 1; }

.india { background: #415FFF; color: #415FFF; border-color: #415FFF; }
.world { background: #F4239F; color: #F4239F; border-color: #F4239F; }
.sports { background: #F89D37; color: #F89D37; border-color: #F89D37; }
.business { background: #10C53F; color: #10C53F; border-color: #10C53F; }
.tech { background: #0099FF; color: #0099FF; border-color: #0099FF; }
.lifestyle { background: #8D58FF; color: #8D58FF; border-color: #8D58FF; }
.entertainment { background: #FF7A38; border-color: #FF7A38; color: #FF7A38 }
.topStories { background: #FA2424; color: #FA2424; border-color: #FA2424; }
.topstories { background: #FA2424; color: #FA2424; border-color: #FA2424; }

.english { background: #415FFF; color: #415FFF; border-color: #415FFF; }
.hindi { background: #F4239F; color: #F4239F; border-color: #F4239F; }
.tamil { background: #F89D37; color: #F89D37; border-color: #F89D37; }
.telugu { background: #10C53F; color: #10C53F; border-color: #10C53F; }
.malayalam { background: #0099FF; color: #0099FF; border-color: #0099FF; }

.india .category { border-color: #415FFF !important; }
.world .category { border-color: #F4239F !important; }
.sports .category { border-color: #F89D37 !important; }
.business .category { border-color: #10C53F !important; }
.tech .category { border-color: #0099FF !important; }
.lifestyle .category{ border-color: #8D58FF !important; }
.entertainment .category { border-color: #FF7A38 !important; }
.topStories .category { border-color: #DE1146 !important; }
.topstories .category { border-color: #DE1146 !important; }

.english .category { border-color: #415FFF !important; }
.hindi .category { border-color: #F4239F !important; }
.tamil .category { border-color: #F89D37 !important; }
.telugu .category { border-color: #10C53F !important; }
.malayalam .category { border-color: #0099FF !important; }

.india.tapped { background: #415FFF !important; color: #fff !important; border-color: #415FFF; }
.world.tapped { background: #F4239F !important; color: #fff !important; border-color: #F4239F; }
.sports.tapped { background: #F89D37 !important; color: #fff !important; border-color: #F89D37; }
.business.tapped { background: #10C53F !important; color: #fff !important; border-color: #10C53F; }
.tech.tapped { background: #0099FF !important; color: #fff !important; border-color: #0099FF; }
.lifestyle.tapped { background: #8D58FF !important; color: #fff !important; border-color: #8D58FF;}
.entertainment.tapped { background: #FF7A38 !important; border-color: #FF7A38; color: #fff !important; }
.topStories.tapped { background: #DE1146 !important; color: #fff !important; border-color: #DE1146; }
.topstories.tapped { background: #DE1146 !important; color: #fff !important; border-color: #DE1146; }

.english.tapped { background: #415FFF !important; color: #fff !important; border-color: #415FFF; }
.hindi.tapped { background: #F4239F !important; color: #fff !important; border-color: #F4239F; }
.tamil.tapped { background: #F89D37 !important; color: #fff !important; border-color: #F89D37; }
.telugu.tapped { background: #10C53F !important; color: #fff !important; border-color: #10C53F; }
.malayalam.tapped { background: #0099FF !important; color: #fff !important; border-color: #0099FF; }
 
@-webkit-keyframes ball {
  0% { -webkit-transform: translateY(0px);}
  100% { -webkit-transform: translateY(-120px);}
}

@-keyframes ball {
  0% { -webkit-transform: translateY(0px);}
  100% { -webkit-transform: translateY(-120px);}
}

.ftue { background: #6403C5; color: #fff; z-index: 1200; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.ftue.bounce { -webkit-animation: ball 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 4 alternate; animation: ball 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) 4 alternate; }
.ftue.active { z-index: 1200 !important; }
.ftue figcaption { text-transform: none; }
.ftue.categorySplash .swipe_message { opacity: 0; -webkit-transition: opacity .3s linear; }
.ftue.categorySplash .upIcon { opacity: 0; -webkit-transition: opacity .3s linear; display: none; }
.ftue.categorySplash button.btn.secondary { text-transform: none; margin: 5px auto; width: 50%; }

.ftue { background: #fff; }
.ftue figcaption { color: #333; }
.ftue .text, .ftue .text_primary { color: #333; }
.ftue button.cta { color: #6403C5 !important; border-color: #6403C5 !important }
.ftue button.tapped { background: #6403C5 !important; color: #fff !important; }
.ftue .swipe_message { color: #333 !important }

.ftue.swiper button { opacity: 0; -webkit-transition: opacity .3s linear; display: none !important; }
.ftue.swiper .swipe_message { opacity: 1; -webkit-transition: opacity .3s linear; }
.ftue.swiper .upIcon { opacity: 1; -webkit-transition: opacity .3s linear; display: block; }


/*.swipe_message.bounce { -webkit-animation: slow_scale 1s ease-out .3s infinite reverse; }*/

.blockNotif { background: #fff; color: #743bf3; z-index: 20; -webkit-transition: all .3s ease-out; transition: all .3s ease-out; opacity: 1; list-style: none; }
.blockNotif figcaption { text-transform: none; letter-spacing: -0.4px; color: #333; }
.blockNotif .text_primary { color: #9d9d9d; }
.blockNotif button { border-color: #743bf3 !important; color: #743bf3 !important; }
.blockNotif button.tapped { background: #743bf3 !important; color: #fff !important; }
.blockNotif .swipe_message { display: none }
.blockNotif .upIcon { display: none; }
.blockNotif.categorySplash { z-index: 1130 !important; }

.notifsFinish { background: #fff; }
.notifsFinish figcaption { text-transform: none; color: #333; }
.notifsFinish button { border-color: #743bf3 !important; color: #743bf3 !important; }
.notifsFinish button.tapped { background: #743bf3 !important; color: #fff !important; }
.notifsFinish .text_primary { color: #9d9d9d; }
.notifsFinish .swipe_message { color: #a2a2a2 !important; }

.block { background: #302e45; color: #fff; z-index: 20; opacity: 1; }
.block.categorySplash .swipe_message { display: none; }
.block.categorySplash .upIcon { display: none; }
.block.categorySplash figure { margin-bottom: 48px; }
.block.categorySplash figcaption { font-size: 16px; line-height: 20px !important; text-transform: uppercase; letter-spacing: -0.4px; }
.block.categorySplash .text_primary { font-size: 12px !important; line-height: 16px; letter-spacing: -0.4px; }
.block.categorySplash button.cta { text-transform: uppercase; }

.offline { color: #000; z-index: 20; }
.categorySplash.offline.active { z-index: 1130 !important; }
.offline figure.icon img { width: 72px; }
.offline figcaption { color: #333; text-transform: none; }
.offline .text_primary  { color: #9d9d9d; }
.offline button { border-color: #f83e60 !important; color: #f83e60 !important; }
.offline button.tapped { background: #f83e60 !important; color: #fff !important; }
.offline .swipe_message { display: none }
.offline .upIcon { display: none; }

.finishScreen .swipe_message { display: none }
.finishScreen .upIcon { display: none; }
.finishScreen figcaption { text-transform: none; }

.networkerror { background: #fff; }
.categorySplash.networkerror.active { z-index: 1130 !important; }
.networkerror figcaption { text-transform: none; color: #333; }
.networkerror .text_primary  { color: #9d9d9d; }
.networkerror .text  { color: #9d9d9d; }
.networkerror .swipe_message { display: none }
.networkerror .upIcon { display: none; }
.networkerror button { border-color: #f83e60 !important; color: #f83e60 !important; }
.networkerror button.tapped { background: #f83e60 !important; color: #fff !important; }

.waitingScreen { background: #fff !important; }
.waitingScreen .swipe_message { display: none }
.waitingScreen .upIcon { -webkit-transform: rotate(90deg) scale(0.4); }
.waitingScreen figcaption { color: #333; text-transform: none; }
.waitingScreen .text_primary { color: #777; }

.repair { background: #fff; }
.repair figcaption { color: #333; text-transform: none; }
.repair .text_primary { color: #777; }
.repair .swipe_message { display: none }
.repair .upIcon { display: none; }

.pushNotification { z-index: 1120; }

.agoSpan { width: 100px; border-radius: 4px; height: 4px; background-color: #ccc; margin-top: 20px; margin-bottom: 10px; }
.sourceSpan { width: 40px; height: 4px; border-radius: 4px; background-color: #ccc; display: block; }
.titleSpan { width: 100%; height: 7px; border-radius: 5px; display: block; background-color: #ccc; padding: 0; margin-top: 10px; margin-bottom: 16px; }
.titleSpan:first-of-type { width: 90% }
.categorySpan { width: 100px; background-color: #ccc; height: 6px; display: block; border-radius: 10px; margin-bottom: 20px; }
.storySpan { margin-top: 25px; }
.storyline { width: 100%; display: block; height: 5px; background-color: #ccc; border-radius: 5px; margin-bottom: 15px; }
.storyline:first-of-type { width: 92%; }
.storyline:last-of-type { width: 80%; }

.threeDot { display: inline-block; width: 10px; margin: 0; padding: 0; -webkit-transform: rotate(90deg) scale(0.7); font-weight: bold; font-size: 16px; padding: 0 0 11px 0px; margin-top: 1px; margin-bottom: 7px; vertical-align: middle; line-height: 10px; color: #333; opacity: 1; }

.upIcon { position: absolute; bottom: 85px; -webkit-transform: scale(0.5); display: block; width: 100%; text-align: center; list-style: none; }
.upIcon li { margin-top: -8px; opacity: 0.1; }
.upIcon li.ico_1 { -webkit-animation: wave 0.85s linear .3s infinite reverse; -webkit-animation-play-state: paused; }
.upIcon li.ico_2 { -webkit-animation: wave 0.85s linear .2s infinite reverse; -webkit-animation-play-state: paused; }
.upIcon li.ico_3 { -webkit-animation: wave 0.85s linear .1s infinite reverse; -webkit-animation-play-state: paused; }

.active .upIcon li { -webkit-animation-play-state: running; }

.ellipsis { overflow: hidden; height: 100%; }
.ellipsis:before { content:""; float: left; width: 5px; height: 100%; }
.ellipsis > *:first-child { float: right; width: 100%; margin-left: -5px; }    
.ellipsis:after { 
    content: "\02026"; box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; float: right; position: relative; 
    top: -20px; left: 98%; width: 4em; margin-left: -4em; padding-right: 5px; text-align: right;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);     
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); }


.languageIntro { 
    width: 100%; height: 100%; background: #fff; position: absolute; top: 0; left: 0; z-index: 1120; font-family: "Open Sans", sans-serif;
    transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transition: transform .3s linear; -webkit-transition: -webkit-transform .3s linear;
}

.languageIntro.away { 
    transform: translate3d(0,-120%,0); -webkit-transform: translate3d(0,-120%,0); transition: transform .3s linear; -webkit-transition: -webkit-transform .3s linear;
}

.runoff { width: 100%; height: 56px; display: block; background: #743bf3; }
.languageIntroWrapper { position: absolute; width: 100%; top: 56px; bottom: 0; left: 0; right: 0; }

.introhead { width: 100%; height: 45%; background-color: #743bf3; }
.introhead:before { display: inline-block; content: ""; width: 1px; margin-left: -2px; height: 100%; background-color: #000; vertical-align: middle; }
.introheadwrap { width: 98%; display: inline-block; vertical-align: middle; }
.introhead figure { height: 80px; border-radius: 50%; background: #ff1bdc; margin: 0 auto 20px; text-align: center; padding-top: 25px; width: 80px; }
.introhead figcaption { color: #fff; text-align: center; font-size: 18px; letter-spacing: -0.5px; line-height: 32px; opacity: 0.66; background: transparent; }
.introhead figcaption.hindi { font-size: 24px; opacity: 1; background: transparent; }

.introbody { height: 55%; color: #6D6D6D; }
.introbody .sampletext { border-bottom: 1px solid #eaeaea; height: 40%; padding: 0 20px; }
.introbody .sampletext:before { content: ""; display: inline-block; vertical-align: middle; width: 1px; margin-left: -2px; height: 100%; }
.introbody .sampletext span { width: 100%; vertical-align: middle; display: inline-block; padding: 15px 20px; background: #fafafb; border-radius: 4px; text-align: center; }
.introbody .confirmation { height: 40%; }
.introbody .confirmation:before { content: ""; display: inline-block; vertical-align: middle; width: 1px; margin-left: -1px; height: 100%; }
.introbody .confirmwrap { width: 98%; display: inline-block; vertical-align: middle; padding: 0 20px; text-align: center; }
.introbody .confirm_text { line-height: 26px; font-size: 16px; }
.introbody .confirm_text.hindi { font-size: 20px; line-height: 30px; background: transparent; color: #6d6d6d; }
.languageIntro .bottombar { width: 100%; background: #e5e6eb; height: 20%; }

.bottombar button.bottombtn.tapped { background-color: rgba(0,0,0,0.2); color: #fff; }
.bottombar button.bottombtn { width: 50%; background: transparent; border: 0 none; display: inline-block; height: 100%; border-left: 1px solid #DEDDDD; font-size: 15px; color: #5F5E5E; }


/* new item ripple */

.load { margin: 0 auto; width: 15px; height: 15px; background-color: #F53C3C; border-radius: 50%; position: relative; animation: pulse 2s linear infinite;  -webkit-animation: pulse 2s linear infinite; -moz-animation: pulse 2000ms linear infinite; position: absolute; top: 10px; right: 15px; }
.load:before { display: inline-block; margin: auto; position: absolute; content: ""; width: 15px; height: 15px; border-radius: 50%; background-color: #DC0B0B; }
.load:before { z-index: -200; -webkit-animation: inner-ripple 2s linear infinite; animation: inner-ripple 2s linear infinite; left: 0; }

/*.icon-caret { background: url(../images/icons/caret-40-black.png); width: 12px; height: 12px; background-size: 12px; display: inline-block; background-repeat: no-repeat; margin-left: 10px; opacity: 0.7 }*/
.icon-caret { background: url(../images/icons/caret-40-black.png); width: 12px; height: 12px; background-size: 12px; display: inline-block; background-repeat: no-repeat; margin-left: 10px; margin-top: -1px; opacity: 0.7; vertical-align: middle; -webkit-transform: rotate(0deg); -webkit-transition: -webkit-transform .3s linear; transform: rotate(180deg); transition: transform .3s linear; }
.content.up .icon-caret { -webkit-transform: rotate(180deg); -webkit-transition: -webkit-transform .3s linear; transform: rotate(180deg); transition: transform .3s linear; }

@keyframes pulse{
  0% { transform: scale(0.8); filter: alpha(opacity=50); opacity: 0.5 }
  10% { transform: scale(1.1); filter: alpha(opacity=1); opacity: 1; }
  20% { transform: scale(0.9); filter: alpha(opacity=1); opacity: 1; }
  100% { transform: scale(0.8); filter: alpha(opacity=50); opacity: 0.5;}
}
@-webkit-keyframes pulse{
  0% { -webkit-transform: scale(0.8); filter: alpha(opacity=50); opacity: 0.5 }
  10% { -webkit-transform: scale(1.1); filter: alpha(opacity=1); opacity: 1; }
  20% { -webkit-transform: scale(0.9); filter: alpha(opacity=1); opacity: 1; }
  100% { -webkit-transform: scale(0.8); filter: alpha(opacity=50); opacity: 0.5;}
}

@keyframes outer-ripple {
  0% { transform: scale(1); filter: alpha(opacity=50); opacity: 0.5; }
  80% { transform: scale(3.5); filter: alpha(opacity=0); opacity: 0; }
  100% { transform: scale(3.5); filter: alpha(opacity=0); opacity: 0; }
}
@-webkit-keyframes outer-ripple {
  0% { -webkit-transform: scale(1); filter: alpha(opacity=50); opacity: 0.5; }
  80% { -webkit-transform: scale(3.5); filter: alpha(opacity=0); opacity: 0; }
  100% { -webkit-transform: scale(3.5); filter: alpha(opacity=0); opacity: 0; }
}

@keyframes inner-ripple {
  0% { transform: scale(1); filter: alpha(opacity=50); opacity: 0.5; }
  30% { transform: scale(1); filter: alpha(opacity=50); opacity: 0.5; }
  100% { transform: scale(2.5); filter: alpha(opacity=0); opacity: 0; }
}
@-webkit-keyframes inner-ripple {
  0% { -webkit-transform: scale(1); filter: alpha(opacity=50); opacity: 0.5; }
  30% { -webkit-transform: scale(1); filter: alpha(opacity=50); opacity: 0.5; }
  100% { -webkit-transform: scale(2.5); filter: alpha(opacity=0); opacity: 0; }
}

.languageIntroSplash { width: 100%; height: 100%; background-color: rgba(0,0,0,0.9); position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 1200; opacity: 0; -webkit-transition: opacity .2s linear; transition: opacity .2s linear; }
.languageIntroSplash.active { opacity: 1; -webkit-transition: opacity .2s linear; transition: opacity .2s linear; }
.languageIntroSplash:before { content: ""; width: 1px; margin-left: -5px; height: 100%; display: inline-block; vertical-align: middle; }

.languageIntroSplash .wrapper { display: inline-block; vertical-align: middle; width: 99%; color: #fff; text-align: center; padding: 0 30px; font-family: "Open Sans", sans-serif; }
.languageIntroSplash .wrapper figure { margin: 0 auto 20px; }
.languageIntroSplash .wrapper h3 { font-size: 24px; font-weight: normal; letter-spacing: -1px; margin: 0; }
.languageIntroSplash .wrapper p { font-size: 14px; margin: 8px 0; }
.languageIntroSplash .wrapper button.cta { background: transparent; border: 1px solid #fff; border-radius: 4px; color: #fff; padding: 12px; display: block; margin: 30px auto 10px; min-width: 46%; font-size: 12px; text-transform: uppercase; }
.languageIntroSplash .wrapper button.cta.tapped { background: #fff; color: #000; }

.languageIntroSplash .mocknativebutton { width: 33%; height: 48px; display: block; position: absolute; bottom: 0; right: 0; background: url(../images/icons/ico-lang-black.png) no-repeat center center #fff; background-size: 20px; }
.languageIntroSplash .mocknativebutton:before { content: ""; background: url(../images/icons/ico-arrow-white.png) no-repeat; position: absolute; bottom: 45px; right: 45px; width: 45px; height: 110px; }

span.langMessage { font-size: 11px; color: #737373; position: absolute; bottom: 16px; }

@media screen and (max-height: 480px) {
  .splash .content { height: 60px; }
  .listContainer.on > li.listItem .title { font-size: 16px; line-height: 20px; padding: 16px 0px 12px; letter-spacing: -.2px; font-weight: normal; }
  .listContainer.on > li.listItem .story { font-size: 12px; line-height: 17px; }
  .listContainer.on > li.listItem .story p { -webkit-line-clamp: 6; }
  .hindi .listContainer.on > li.listItem .story p { -webkit-line-clamp: 5; }
  
  .threeDot { margin: -4px 0 7px; }

  .categorySplash figcaption { font-size: 20px; }
  .categorySplash span.text_primary { font-size: 12px; }
  .categorySplash span.swipe_message { font-size: 14px; }

  .languageIntroSplash .mocknativebutton:before { background-size: 21px 36px; right: 20px; bottom: 5px; }
  .introheadwrap { -webkit-transform: scale(0.85); transform: scale(0.85); /*padding-top: 30px;*/ }
  .introhead { height: 50%; }
  .introbody { height: 50%; }
  .introbody .sampletext { height: 40%; }
  .languageIntro .bottombar { height: 20%; }
  .introbody .confirm_text { font-size: 14px; }
}

@media screen and (min-height: 481px) and (max-height: 508px) {
  .splash .content { height: 60px; }
  .listContainer.on > li.listItem .title { font-size: 16px; line-height: 20px; padding: 16px 0px 12px; letter-spacing: -.2px; font-weight: normal; }
  .listContainer.on > li.listItem .story { font-size: 12px; line-height: 17px; }
  .hindi .listContainer.on > li.listItem .title { font-size: 18px; line-height: 22px; padding: 16px 0px 12px; letter-spacing: -.2px; font-weight: normal; }
  .hindi .listContainer.on > li.listItem .story { font-size: 14px; line-height: 20px; }
  
  .listContainer.on > li.listItem .story p { -webkit-line-clamp: 7; }
  .hindi .listContainer.on > li.listItem .story p { -webkit-line-clamp: 6; }
  
  .threeDot { margin: -4px 0 7px; }

  .categorySplash figcaption { font-size: 20px; }
  .categorySplash span.text_primary { font-size: 12px; }
  .categorySplash span.swipe_message { font-size: 14px; }

  .languageIntroSplash .mocknativebutton:before { background-size: 21px 36px; right: 20px; bottom: 5px; }

  .introheadwrap { -webkit-transform: scale(0.85); transform: scale(0.85); /*padding-top: 30px;*/ }
  .introhead { height: 50%; }
  .introbody { height: 50%; }
  .introbody .sampletext { height: 40%; }
  .languageIntro .bottombar { height: 20%; }
  .introbody .confirm_text { font-size: 14px; }
}

@media screen and (min-height: 560px) and (-webkit-min-device-pixel-ratio: 3) {
  .listContainer.on > li.listItem figure { height: 45%; }  
  .listContainer.on > li.listItem .storyContainer { max-height: 55%; }
  .listContainer.on > li.listItem .story p { -webkit-line-clamp: 6; }
}

@media screen and (min-height: 615px) and (-webkit-min-device-pixel-ratio: 3) {
  .listContainer.on > li.listItem figure { height: 45%; }  
  .listContainer.on > li.listItem .storyContainer { max-height: 55%; }
  .listContainer.on > li.listItem .story p { -webkit-line-clamp: 7; }
}

@media screen and (min-height: 620px) and (-webkit-min-device-pixel-ratio: 3.5) {
  .listContainer.on > li.listItem figure { height: 50%; }  
  .listContainer.on > li.listItem .storyContainer { max-height: 50%; }
  .listContainer.on > li.listItem .story p { -webkit-line-clamp: 7; }

  .hindi .listContainer.on > li.listItem .title { font-size: 20px; line-height: 28px; }
  .hindi .listContainer.on > li.listItem .story { font-size: 17px; line-height: 24px; }
}
